@page "/"

<PageTitle>Home</PageTitle>


<div class="w-3/4 pr-4">
    <!-- 博客卡片列表 -->
    <div class="bg-white rounded-lg shadow-md p-4">
        <!-- 博客卡片内容 -->
        <!-- 例如：<a href="#" class="text-xl font-semibold">博客标题</a> -->
    </div>
</div>
<div class="w-1/4">
    <!-- 分类 -->
    <div class="bg-white rounded-lg shadow-md p-4">
        <!-- 分类列表 -->
        <!-- 例如：<a href="#" class="block mb-2">技术</a> -->
    </div>
</div>