@inherits LayoutComponentBase
@inject HttpClient http
@inject SearchService searchService

<PageTitle>@webInfo?.Name 的博客</PageTitle>

<div class="text-white py-4 bg-gray-700 dark:bg-gray-900">
    <div class="container mx-auto flex items-center justify-between">
        <a href="#" class="text-2xl font-semibold">@webInfo?.Name</a>
        <div class="flex items-center">
            <input type="text" @bind="SearchText" placeholder="博客标题" class="px-4 py-2 rounded-lg dark:bg-gray-800 text-white focus:outline-none" @onkeydown="KeyDown">
            <button class="ml-2 bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-lg" @onclick="Search">
                搜索
            </button>
        </div>
    </div>
</div>

<div class="container mx-auto mt-2">
    <div class="flex">
        @Body
    </div>
</div>

<div class="dark:bg-gray-800 py-4 fixed bottom-0 w-full">
    <div class="container mx-auto text-center">
        <p class="text-gray-600 dark:text-gray-300">
            @webInfo?.Name
            <a class="text-blue-600" target="_blank" href="https://github.com/AterDev/blazor-blog">Powered by Ater Blog</a>
        </p>
    </div>
</div>

@code {
    private WebInfo? webInfo = null;

    public string? SearchText { get; set; }

    protected override async Task OnInitializedAsync()
    {
        webInfo = await http.GetFromJsonAsync<WebInfo>("data/webinfo.json") ?? new WebInfo();
    }

    private void Search()
    {
        searchService.Search(SearchText);
    }

    private void KeyDown(KeyboardEventArgs e)
    {
        if (e.Key.Equals("Enter"))
        {
            Search();
        }
    }

}